<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>368958880769-tknkvf4dnaevckqdra5ugt04fen7hn5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368958880769-tknkvf4dnaevckqdra5ugt04fen7hn5j</string>
	<key>API_KEY</key>
	<string>AIzaSyAMgMtvxffOpwe5Rd0emVnjhGp1i3mNU4g</string>
	<key>GCM_SENDER_ID</key>
	<string>368958880769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.bosung.bcagenerator</string>
	<key>PROJECT_ID</key>
	<string>bca-generator</string>
	<key>STORAGE_BUCKET</key>
	<string>bca-generator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368958880769:ios:b495c5ec72e445c3</string>
	<key>DATABASE_URL</key>
	<string>https://bca-generator.firebaseio.com</string>
</dict>
</plist>